// Pull variables & mixins into scope
@use "abstracts" as *;

// Emit CSS from these sections
@use "base";
@use "layout";
@use "components";
@use "utilities";

// Page-level quick demo
.page-home .hero {
  padding: 4rem 0;
  background: color-mix(in oklab, $brand 10%, white);
}

body {
  background-color: red;
}
